.PopUpMain {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 179, 66);
    height: 170px;
    width: 160px;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}

.Munna {
    height: 100px;
    border-radius: 6px;
}

.Close {
    display: flex;
    align-self: flex-end;
    height: 27px;
    width: 27px;
}
.Text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid black 1px;
    margin: 4px;
    border-radius: 4px;
}
