.dropdown-container {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1; /* Light Gray */
    padding: 20px;
  }
  .ParkingItems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
  }
  .dropdown {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db; /* Border Color */
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff; /* White */
    transition: border-color 0.3s, background-color 0.3s;
    animation: fadeIn 1s ease;
  }
  
  .dropdown option {
    font-size: 16px;

  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    }
    100% {
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
                   0 0 30px rgba(255, 255, 255, 0.6),
                   0 0 40px rgba(255, 255, 255, 0.4),
                   0 0 50px rgba(255, 255, 255, 0.2),
                   0 0 75px rgba(255, 255, 255, 0.1);
    }
  }
  
  .SlotName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: pulse 2s infinite alternate, glow 2s infinite alternate;
  }
  
  .dropdown:hover {
    border-color: #2980b9; /* Darker Blue */
    background-color: #f9f9f9; /* Lighter Gray */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 600px) {
    .dropdown {
      width: 100%;
    }
  }
  .OptionsIcon{
    height: 25px;
  }

  .OptionsContainer{
    display: flex;
    gap: 40px;
    margin: 30px;
  }
