.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: slideFromRight 0.5s ease-in-out forwards;

}



@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
.RemoveLink{
    text-decoration: none;
}
@media only screen and (min-width: 800px){
.containers{
    width: 400px;
}
}



