.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 166, 0, 0.566);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    border-radius: 6px;
    font-size: 10px;
  }
  
  .info {
    margin: 5px 0;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .reserve-button, .available-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .reserve-button {
    background-color: #f44336; /* Red */
    color: white;
    font-size: 10px;
  }
  
  .available-button {
    background-color: #4caf50; /* Green */
    color: white;
    font-size: 10px;
  }
  
  .reserve-button:hover, .available-button:hover {
    background-color: #d32f2f; /* Darker Red */ /* #388e3c Darker Green */
  }
  
  @media (max-width: 600px) {
    .button-container {
      flex-direction: column;
      align-items: center;
    }
    
    .reserve-button, .available-button {
      margin: 5px 0;
    }
  }
  
.ReservedStatus{
    background-color: black;
    color: grey;
    padding: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    border-radius: 6px;
    font-size: 10px;
}

.Reserved{
  height:   90px;
}

  .ReserveButton.updating {
    background-color: #ccc; /* Grey */
    cursor: not-allowed;
    animation: pulse 1s infinite alternate;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  